@charset 'UTF-8';


body{
  margin:0;
  padding:0;
}




header{
  background-color:#ffcccc;
   
}

#wrapper{
  display:flex;
}

#main{
  width:700px;
  background-color:#ccffcc;
}

#menu{
  width:300px;
  background-color:#ccccff;
}

footer{
  background-color:#ffccff;
}

